@font-face {
    font-family: 'Gotham Pro';
    src:url('GothaProReg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src:url('GothaMedium.otf');
    font-weight: normal;
    font-style: normal;
}

